@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(254, 254, 254);
  box-shadow: 0 1px 5px grey;
  height: 3.8rem;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 0 5%;

}
.siteLogo{
  font-family: 'Monoton', cursive;
  color: black;
  font-size: 2rem;
  /* font-weight: bold; */
}
.siteLogo:hover{
  cursor: pointer;
}
.navItems{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navItem{
  cursor: pointer;
  font-size: 1.1rem;
  /* padding-right: 2rem; */
  padding-bottom: 1.1rem;
  margin-right: 2rem;
  /* background-color: aquamarine; */
}
.navItem:hover{
  border-bottom: 2px solid black;
}